// .container {
//   display: flex;
//   flex-direction: column;
//   min-width: 450px;
// }

// .container > * {
//   width: 100%;
// }

// .form {
//   display: flex;
//   padding-top: 6px;
// }

.dialog {
  min-width: 30rem;

  &__container {
  }
}

.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 20px;
  }
}

.input {
  // .input__container
  &__container {
    & > mat-form-field {
      width: 100%;
    }
  }
}

.dialog__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 20px;
  margin-bottom: 20px;
}
