.sidenav {
  background-color: #263238;
  min-height: 100%;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  min-width: 13rem;

  // .sidenav__sidenav-container
  &__sidenav-container {
    // max-width: 1310px;
    margin: 0 auto;
    padding: 0.938rem;
  }
  // .sidenav__menu
  &__menu {
  }
}
.sidenav-menu {
  // .sidenav-menu__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0.625rem;
    align-items: stretch;
    text-align: left;
  }
  // .sidenav-menu__item
  &__item {
  }

  &__text {
  }

  // .sidenav-menu__link
  &__link {
  }
}

.link-menu {
  display: block;
  cursor: pointer;
  color: #f3f3f3;
  transition: all 0.3s ease;
  border-radius: 0.625rem;
  padding: 15px;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &__text {
  }
}
