.calendar {
  &__cell {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 0 5px;
  }
}

.cell {
  &__container {
    height: 100%;
    width: 100%;
    max-width: 130px;
    overflow-x: auto;
  }
}

.calendar-page {
  &__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  &__spinner {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
}
